@import '~@/styles/variables';

.app-container {
  display: flex;
  //sidebar
  .sidebar-container {
    height: 100vh;
    .sidebar-menu {
      height: 100%;
      &:not(.el-menu--collapse) {
        width: $--sidebar-open-width;
      }
    }
    .el-menu--collapse {
      width: $--sidebar-unopen-width;
    }
  }

  .main-container {
    flex: 1;
    // navbar
    .navbar-container {
      height: 50px;
      line-height: 50px;
      border-bottom: 1px solid #eee;
      box-shadow: 0 0 3px 1px #eee;
      .collapse-menu {
        font-size: 18px;
        padding: 0 20px;
        display: inline-block;
        cursor: pointer;
      }
      .right-menu {
        float: right;
        &-item {
          padding: 0 10px;
          display: inline-block;
          cursor: pointer;
          &:hover:not(.search) {
            background-color: rgba(0, 0, 0, .025);
          }
        }
        .search {
          .searchSelect {
            width: 0;
            vertical-align: middle;
            overflow: hidden;
            transition: width .3s;
            &.active {
              width: 200px;
            }
          }
          .el-input__inner {
            border-radius: 0;
            border: 0;
            padding-right: 0;
            box-shadow: none !important;
            border-bottom: 1px solid #dfdfdf;
            vertical-align: middle;
          }
        }
        .avatar {
          width: 30px;
          height: 30px;
          vertical-align: middle;
        }
      }
    }
  }
}